
/* FOOTER CSS */
html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 60px;
}
.sticky-footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  line-height: 1;
}
.sticky-footer .fa-heart {
  color: pink
}

#new-blog-form {
  cursor: pointer;
}

.selected-blog-div {
  cursor: none;
}
h5 {
  text-transform: uppercase
}

